---
import Layout from "../../layouts/Layout.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import CurrentChampions from "./_components/CurrentChampions.astro";
import { getCurrentChampions } from "../../utils";

const currentChampions = getCurrentChampions();
---

<Layout title="Champions" description="Current world boxing champions from the WBA, WBC, IBF and WBO." img={null}>
	<main>
		<Breadcrumbs route={[["Champions", `${Astro.url.origin}/champions/`]]} />

		<header class="header">
			<h1 class="header__title">Current world champions</h1>
		</header>

		<CurrentChampions currentChampions={currentChampions} />
	</main>
</Layout>

<style>
	.header {
		margin: 2rem auto;
	}

	.header__title {
		margin-bottom: 1rem;
		font-size: var(--font-size-h1);
		line-height: var(--line-height-h1);
	}

	@media (min-width: 1280px) {
		.header {
			max-width: 956px;
			margin-left: auto;
			margin-right: auto;
		}
	}
</style>
