---
interface Props {
	route: [string, string][];
}

const { route } = Astro.props;
---

<nav class="breadcrumbs">
	<ol class="breadcrumbs__list">
		<li class="breadcrumbs__item">
			<a href={Astro.url.origin}>Home</a>
		</li>
		{
			route.map(([name, url], i) =>
				i === route.length - 1 ? (
					<li class="breadcrumbs__item">{name}</li>
				) : (
					// prettier-ignore
					<li class="breadcrumbs__item"><a href={url}>{name}</a></li>
				)
			)
		}
	</ol>
</nav>

<style>
	.breadcrumbs {
		margin: 1rem 0;
	}

	.breadcrumbs__list {
		list-style: none;
		padding: 0;
		display: flex;
	}

	.breadcrumbs__item {
		font-size: var(--font-size-medium);
		line-height: var(--line-height-medium);
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	.breadcrumbs__item::before {
		content: "→";
		margin: 0 8px;
	}

	.breadcrumbs__item:first-child::before {
		display: none;
		/* content: "";
		margin: 0; */
	}

	a {
		color: var(--theme-text);
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	@media (min-width: 1280px) {
		.breadcrumbs {
			max-width: 1280px;
			margin: 1rem auto;
		}
	}
</style>
